@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

.toggle {
    box-shadow: var(--handleoffsetcalculator) 0 0 2px #F1F3F3 inset, 0 0 0 2px #f1f3f3 inset, var(--togglehandleborder);
    background-color: #E3E6E8;
    border-color: #F1F3F3;
}

.toggle:checked {
    box-shadow: var(--handleoffsetcalculator) 0 0 2px #D01E50 inset, 0 0 0 2px #D01E50 inset, var(--togglehandleborder);
    background-color: #F6D2DC;
    border-color: #D01E50;
}

.collapse {
    visibility: visible !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.drawer-side {
    height: 100vh !important;
    padding-bottom: env(safe-area-inset-bottom);
}

nextjs-portal {
    display: none;
}