.CalendarDay {
    border: none !important;
}

.CalendarDay .day-content {
    /*height: 100%!important;*/
    height: calc(100% + 0.3em) !important;
    width: 100% !important;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.CalendarDay__selected {
    background-color: #FCE9EE !important;

}

.CalendarMonth_table tr {
    border-bottom: 5px solid #FFFFFF;
}

.CalendarDay:not(.CalendarDay__selected_span,.CalendarDay__hovered_span,.CalendarDay__selected,.CalendarDay__blocked_out_of_range):hover {
    background-color: transparent !important;
}

.CalendarDay:not(.CalendarDay__selected_span,.CalendarDay__hovered_span,.CalendarDay__selected,.CalendarDay__blocked_out_of_range):hover > .day-content {
    background-color: #ECA5B9 !important;
    color: #FFFFFF !important;
    border-radius: 100%;
}

.CalendarDay:not(.CalendarDay__selected_span,.CalendarDay__hovered_span,.CalendarDay__selected,.CalendarDay__blocked_out_of_range):hover > .day-content .day-dot {
    color: #FFFFFF !important;
}

.CalendarDay__selected .day-content {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: #D01E50 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CalendarDay__selected .day-content .day-dot {
    color: #FFFFFF !important;
}

.CalendarDay__selected_start {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.CalendarDay__selected_start .day-content {
    margin-right: auto;
}

.CalendarDay__selected_end {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.CalendarDay__selected_end .day-content {
    margin-left: auto;
}

.CalendarDay__selected_span, .CalendarDay__hovered_span {
    background-color: #FCE9EE !important;
    color: #000000 !important;
}

.CalendarDay__selected_span .day-content .day-dot, .CalendarDay__hovered_span .day-content .day-dot {
    color: #FFFFFF !important;
}

.CalendarDay__selected_span.CalendarDay__lastDayOfWeek, .CalendarDay__hovered_span.CalendarDay__lastDayOfWeek {
    background-image: linear-gradient(to right, #fce9ee, #fbeff5, #fbf4fa, #fcfafd, #ffffff);
}

.CalendarDay__selected_span.CalendarDay__firstDayOfWeek, .CalendarDay__hovered_span.CalendarDay__firstDayOfWeek {
    background-image: linear-gradient(to left, #fce9ee, #fbeff5, #fbf4fa, #fcfafd, #ffffff);
}

.CalendarMonth_caption {
    text-align: center !important;
    padding-bottom: 1rem !important;
}

.nav-button {
    position: absolute;
    top: 14px;
    line-height: .78;
    border-radius: 3px;
    padding: 6px 9px;
}

.nav-button.nav-button-next {
    right: 22px;
}

.nav-button.nav-button-prev {
    left: 22px;
}

.prev-hidden .CalendarMonth_caption {
    text-align: left;
    font-size: 18px;
}

.DayPicker__verticalScrollable.DayPicker__hidden {
    visibility: visible;
}

.DayPicker__verticalScrollable .DayPicker_transitionContainer__verticalScrollable {
    position: inherit;
}

.DayPicker__withBorder.DayPicker__verticalScrollable {
    box-shadow: none;
}

.DayPicker_weekHeader__verticalScrollable {
    padding: 0 !important;
}

.DayPicker_weekHeader__verticalScrollable ul {
    display: flex;
    justify-content: space-between;
}

.CalendarMonthGrid__vertical_scrollable, .CalendarMonthGrid__vertical_scrollable .CalendarMonth_table {
    width: 100% !important;
}

.CalendarMonthGrid__vertical_scrollable .CalendarMonth {
    padding: 0 !important;
}

.DayPicker_transitionContainer__verticalScrollable {
    padding-top: 0;
}

.booking-date .DayPicker, .booking-date .DayPicker .DayPicker_transitionContainer {
    border-radius: 12px !important;
}

.CalendarMonthGrid__vertical_scrollable {
    padding-bottom: 90px;
}

.DayPicker_weekHeaders{
    display: none!important;
}

.CalendarDay__blocked_calendar, .CalendarDay__blocked_calendar:active, .CalendarDay__blocked_calendar:hover{
    background-color: transparent !important;
    color: #C8CDD0 !important;
}

.CalendarMonthGrid__vertical > div, .CalendarMonthGrid__vertical_scrollable > div {
    margin-bottom: 30px !important;
}

.DayPicker_transitionContainer__verticalScrollable{
    overflow-y: hidden!important;
    padding-top: 0!important;
}