.swiper-button-disabled {
    background-color: #f1f3f3 !important;
    opacity: 1 !important;
}

.swiper-button-disabled svg {
    filter: invert(72%) sepia(2%) saturate(11%) hue-rotate(336deg) brightness(85%) contrast(80%);
}

.listing-details .swiper-button-disabled {
    display: none !important;
    opacity: 0 !important;
}

.swiper-button-next, .swiper-button-prev {
    background-color: white;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 25px;
    border-radius: 100%;
}

.swiper-button-prev {
    background-image: url("/images/chevron_left.svg");
}

.swiper-button-next {
    background-image: url("/images/chevron_right.svg");
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "" !important;
}
