.tab.tab-active::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(25deg, #4B70D8 0%, #678FFF 34.92%, #4E64A3 100%);

}